<%- include ('./partials/header.ejs') %>
<body>
    <%- include ('./partials/navbar.ejs') %>
    <div class="container">
        <button class="btn btn-outline-secondary">
            Olha ai!
        </button>
    </div>
</body>
<%- include ('./partials/footer.ejs') %>